project:
  type: book
  output-dir: _book
  resources: 
    - _redirects

book:
  title: "Introductory Statistics for the Life and Biomedical Sciences (2e)"
  reader-mode: true
  page-footer:
    left: |
      ISLBS
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
  cover-image: images/frogClutchVolAlt.png
  favicon: images/openintro.png
  site-url: https://dave-harrington-islbs2e.netlify.app/
  repo-url: https://github.com/dave-harrington/islbs-2e
  repo-branch: main
  repo-actions: [edit, issue]
  chapters:
    - index.qmd
    - authors.qmd
    - preface.qmd
    - intro-to-data.qmd
    - collecting-data.qmd
    - probability.qmd
    - random-variables.qmd
    - important-distributions.qmd
    - inference-foundations.qmd
    - inference-numerical-data.qmd
    - simple-linear-regression.qmd
    - multiple-linear-regression.qmd
    - inference-categorical-data.qmd
    - logistic-regression.qmd
    
  appendices:
    - exercise-solutions.qmd
    - references.qmd

bibliography: 
  - book.bib
  - eoce.bib
  - packages.bib

format:
  html:
    theme:
     # light: [cosmo, scss/ims-style.scss]
     # dark: [cosmo, scss/ims-style-dark.scss]
      light: [cosmo, scss/islbs-style.scss]
      dark: [cosmo, scss/islbs-style-dark.scss]
    code-link: true
    mainfont: Atkinson Hyperlegible
    monofont: Source Code Pro
    author-meta: "Julie Vu and David Harrington"
    lightbox: 
      match: auto
      loop: false
    fig-dpi: 300
    fig-show: hold
    fig-align: center
  #pdf:
  #  include-in-header: latex/ims-style.tex
  #  include-after-body: latex/after-body.tex
  #  documentclass: book
  #  classoption: 
  #    - 10pt
  #    - openany
  #  pdf-engine: xelatex
  #  biblio-style: apalike
  #  keep-tex: true
  #  block-headings: false
  #  top-level-division: chapter
  #  fig-dpi: 300
  #  fig-show: hold
  #  fig-pos: H
  #  tbl-pos: H
  #  fig-align: center
  #  toc: true
  #  toc-depth: 2
    
editor: source

execute:
  freeze: auto
  echo: false
  cache: false
  warning: false 

knitr:
  opts_chunk: 
    dev: "ragg_png"
    fig-asp: 0.618  # 1 / phi
    fig-width: 8

comments:
  hypothesis: true
